body {
  margin: 0;
  background: #252323;
}

.box {
  color: white;
  text-align: center;
  z-index: 1;
  margin-top: 10%;
}

.box p {
  font-size: 18px;
}

.red {
  color: green;
}

.redline {
  width: 100px;
  height: 3px;
  background-color: red;
  border: none;
}

.touch h2 {
  padding-top: 20px;
  text-align: center;
  color: #676565;
}

.form-margin {
  margin-top: 40px;
}

.left {
  text-align: left;
}

h3 {
  font-variant: bold;
}

.redline-address {
  border: none;
  height: 3px;
  background-color: orangered;
  width: 140px;
  margin-bottom: 20px;
}

.address {
  padding-top: 50px;
}

.address p {
  font-weight: bold;
  color: #676565;
  margin: 3px;
}

.phone-e {
  padding: 15px 0;
}

.logo img {
  
    width: 8%;
    height: 4%  ;
    margin-left: 46%;
    margin-top: 2%;
}

.bottom-gap {
  margin-bottom: 100px;
}

/*validation css*/
input.ng-valid {
  background-color: #dff0d8;
}

input.ng-invalid {
  background-color: #f2dede;
}

input.ng-pristine {
  background-color: white;
}

textarea.ng-invalid {
  background-color: #f2dede;
}

textarea.ng-pristine {
  background-color: white;
}

textarea.ng-valid {
  background-color: #dff0d8;
}

#menuToggle {
  display: block;
  position: fixed;
  /* Fix the menuToggle to the viewport */
  top: 20px;
  /* Adjust as needed */
  right: 0px;
  /* Adjust as needed */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

/* Rest of your styling for #menuToggle and #menu remains the same */


#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  right: 0;
  position: absolute;
  width: 300px;
  margin: 50px 0 0 -50px;
  /* Veranderde -100px naar 50px */
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(+100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* And let's slide it in from the left */
#menuToggle input:checked~ul {
  transform: none;
}